{% extends 'partials/base.html' %}
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}LITReview Home{% endblock %}</title>
</head>
<body>
{% block content %}
    <div><b>Welcome {{user}}, here is the review form, <br>
    from which you can delete your reviews. </b></div><hr>
    <form method="POST" action="{% url 'delete_review' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <b>Click below to confirm the deleting of the review : </b><br>
        <input type="hidden" name="delete" value="yes" />
        <input type="hidden" name="review" value="{{ review.id }}" />
        <button type="submit" class="btn btn-danger">Confirm the Deleting</button>
    </form><hr>
    <form method="GET" action="{% url 'index' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <b>Click below to go back to the list of the tickets : </b><br>
        <button type="submit" class="btn btn-primary">Access the Tickets</button>
    </form><hr>
{% endblock %}
</body>
</html>