{% extends 'partials/base.html' %}
{% load class_name %}
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}LITReview Home{% endblock %}</title>
    <link href="static/style.css" rel="stylesheet" />
</head>
<body>
{% block content %}
    <b>Welcome {{user}}, here is your follows posts list. <br>
    This is tickets and reviews your follows published. </b><hr>
    {% if not posts %}
        <a href="{% url 'index' %}"><b>
        There is no posts that your follows published,
        so take a look on all the posts here. </b></a><hr>
    {% endif %}
    {% for post in posts %}
        {% if post|class_name == "Ticket" %}
            {% include 'tickets_displaying.html' with redirect='follows_posts' %}
        {% endif %}
        {% if post|class_name == "Review" %}
            {% include 'reviews_displaying.html' %}
        {% endif %}
    {% endfor %}
{% endblock %}
</body>
</html>