{% extends 'partials/base.html' %}
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}LITReview Home{% endblock %}</title>
</head>
<body>
{% block content %}
    <h1>Tickets List</h1>
    {% for item in tickets %}
        <div><h6><b style="background:lightblue">{{ item.title }} </b>
        <i style="background:pink">from {{ item.user }} </i>
        <i style="background:lightgreen">at {{ item.time_created }} </i>
        <i style="background:#FED8B1">{{ item.description }} </i></h6>
        {% for element in reviews %}
            {% if element.ticket == item or element.ticket != item %}
                {% if forloop.counter == reviews|length %}
                    <div style="background:#F5F5DC" onclick="pchild=this.getElementsByTagName('div');
                    if(pchild[0].style.visibility!='hidden'){pchild[0].style.visibility='hidden';
                    pchild[0].style.height='0';}else{pchild[0].style.visibility=''; pchild[0].style.height=''}">
                    <b>Click here to add reviews to this ticket no matter if there already are or not.</b><hr>
                    <div style="visibility:hidden;height:0">
                    {% include 'partials/review.html' with ticket_id=item.id %}<hr></div></div>
                {% endif %}
            {% endif %}
        {% endfor %}
        {% for element in reviews %}
            {% if element.ticket == item %}
                <div style="background:#DCDCDC" onclick="pchild=this.getElementsByTagName('div');
                if(pchild[0].style.visibility!='hidden'){pchild[0].style.visibility='hidden';
                pchild[0].style.height='0';}else{pchild[0].style.visibility=''; pchild[0].style.height=''}">
                <b>Click here to see this ticket review <i style="background:pink">from {{element.user}} </i>
                <i style="background:lightgreen">at {{element.time_created}} </i></b>
                <div style="visibility:hidden;height:0"><br>{{ element.body }}<hr></div></div>
            {% endif %}
        {% endfor %}
        <hr></div>
    {% endfor %}
{% endblock %}
</body>
</html>