{% extends 'partials/base.html' %}
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}LITReview Home{% endblock %}</title>
    <link href="static/style.css" rel="stylesheet" />
</head>
<body>
{% block content %}
    <details>
    <summary><b>Welcome {{user}}, here is your follows. <br>
    Click here to add users to your follows. </b></summary>
    {% include 'follow_form.html' %}</details><hr>
    <b>People that I follow : </b>
    <p class="follows_datas">
        {% if followed_users|length == 0 %}
            There isn't any user that you follow yet. <br>
        {% endif %}
        {% for followed_user in followed_users %}
            <table class="table table-sm table-bordered table-info"><tbody><tr><td><i>{{ followed_user }}
            </i></td><td>
            <form method="POST" action="{% url 'delete_follow' %}" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="hidden" name="followed_user" value="{{ followed_user.id }}" />
                <button type="submit" class="btn btn-danger btn-sm">Delete this Follow</button>
            </form></td></tr></tbody></table>
        {% endfor %}
    </p><hr>
    <b>People that follow me : </b>
    <ul class="follows_datas">
        {% if subbed_users|length == 0 %}
            <li>There isn't any user that follow you yet. </li>
        {% endif %}
        {% for subbed_user in subbed_users %}
            <li><i>{{ subbed_user }}</i></li>
        {% endfor %}
    </ul><hr>
    <b>Online people that I follow : </b>
    <ul class="follows_datas">
        {% if connected_follows|length == 0 %}
            <li>There is nobody who's online among the people that you follow.</li>
        {% endif %}
        {% for follow in connected_follows %}
            <li><i>{{ follow }}</i></li>
        {% endfor %}
    </ul><hr>
{% endblock %}
</body>
</html>