{% extends 'partials/base.html' %}
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}LITReview Home{% endblock %}</title>
</head>
<body>
{% block content %}
<style>
    .follows_datas {
      background: lightblue;}
</style>
    <div class="spoiler">
    <h4>Welcome {{user}}, here is online follows. <br>Click here to unsubscribe from your follows. </h4>
    <div style="visibility:hidden;height:0">
    {% include 'unfollow_form.html' %}</div></div><hr>
    <b>Online people that I follow : </b>
    {% if not connected_follows %}
        <li>There is nobody who's online among the people that you follow.</li>
    {% elif connected_follows %}
        {% for follow in connected_follows %}
        <ul class="follows_datas">
            <li><i>{{ follow }}</i></li></ul>
        {% endfor %}
    {% endif %}
<script>
    var spoilers = document.getElementsByClassName("spoiler");
    var spoilClick = function(){
        pchild=this.getElementsByTagName('div');
        if(pchild[0].style.visibility!='hidden'){
            pchild[0].style.visibility='hidden';
            pchild[0].style.height='0';
        }else{
            pchild[0].style.visibility=''; pchild[0].style.height=''
        }
    }
    for (var i = 0; i < spoilers.length; i++) {
    spoilers[i].addEventListener('click', spoilClick, false);
    }
</script>
{% endblock %}
</body>
</html>